<div class='nav'>
  <div class="login">Log in</div>
  <a href="/practice"><i class="demo-icon icon-gamepad"></i> Practice</a>
  <a href="/multi"><i class="demo-icon icon-users"></i>Multiplayer</a>
  <a href="stats"><i class="demo-icon icon-chart-line"></i>Stats</a>
  <a href="stats"><i class="demo-icon icon-wrench-circled"></i>Settings</a>

  <!-- Rounded switch -->
  <div class='mode'>
    Stuck mode
    <label class="switch">
      <input type="checkbox" (change)='switchmode($event)'>
      <span class="slider round"></span>
    </label>
  </div>
</div>
