<div class="box">
  <div class="stats">
    <p>Speed:<span *ngIf='speed$ | async as s; else zero'>{{s}}</span> wpm</p>
    <p>Errors:<span *ngIf='mistakes$ | async as m ; else zero'>{{m}}</span></p>
  </div>
  <div class="keys">
    <div *ngIf='keyset$ | async as keyset' class="keyset">
      <label>Keyset:</label>
      <div *ngFor='let key of keyset' class="key">{{key}}</div>
    </div>

    <div class="keyset">
      <div class="current label">Current key:</div>
      <div class="key">A</div>
    </div>
  </div>
</div>


<ng-template #zero>
  <span>0</span>
</ng-template>
