<div class="box">
  <div class="stats" *ngIf='stats$ | async as stats'>
    <p>Speed:<span>{{stats.lastSpeed}}</span> wpm</p>
    <p>Errors:<span>{{stats.lastErrors}}</span></p>
  </div>
  <div class="keys">
    <div *ngIf='keyset$ | async as keyset' class="keyset">
      <label>Keyset:</label>
      <div *ngFor='let key of keyset' class="key" [ngClass]="classes[key[1]]">{{key[0]}}</div>
    </div>

    <div class="keyset">
      <div class="current label">Current key:</div>
      <div *ngIf='currentkey$ | async as currentkey' class="key">{{currentkey}}</div>
    </div>
  </div>
</div>
