<div class="box">
  <div class="stats" *ngIf='stats$ | async as stats'>
    <p>Speed:<span>{{stats.lastSpeed}}</span> wpm</p>
    <p>Errors:<span>{{stats.lastErrors}}</span></p>
  </div>
  <div class="keys">
    <div *ngIf='keyset$ | async as keyset' class="keyset">
      <label>Keyset:</label>
      <div *ngFor='let key of keyset' class="key">{{key}}</div>
      <div *ngFor='let key of allkeys_set' class="key  notactive">{{key}}</div>
    </div>

    <div class="keyset">
      <div class="current label">Current key:</div>
      <div class="key">A</div>
    </div>
  </div>
</div>
