.box {
    display: flex;
    width: 100vw;
    height: 100vh;
}

.freespace {
    width: 15%;
}

.content {
    width: 70%;
}

nav {
    width: 15%;
}


@media only screen and (max-width:1500px) {
    .freespace {
        width: 5%;
    }

    .content {
        width: 75%;
    }

    nav {
        width: 20%;
    }
}