.box {
    display: flex;
    margin-left: auto;
    margin-right: auto;
    width: 100vw;
    height: 100vh;
}

.freespace {
    flex-basis: 15%;
}

dashboard,
multiplayer {
    flex-basis: 70%;
}

nav {
    flex-basis: 15%;
}


@media only screen and (max-width:1500px) {
    .freespace {
        flex-basis: 5%;
    }

    dashboard {
        flex-basis: 75%;
    }

    nav {
        flex-basis: 20%;
    }
}