<invitation *ngIf='invitation$ | async as invitaion' [invitaion]='invitaion'></invitation>

<div class="box" *ngIf='sample_words'>
  <div class="players" *ngIf='isLoggedIn$ | async; else uneedtologin'>

    <div class="player">
      <field (stroke)='handleClick_me($event)' [lock]='lock' [width]='width' [fnt_size]='fnt_size'
        [sample_words]='sample_words'></field>
    </div>

    <div class="enemy" *ngIf='game$ | async; else waiting'>
      <field [lock]='lock' [width]='width' [fnt_size]='fnt_size' [sample_words]='sample_words' [driver]=game$>
      </field>
    </div>

    <ng-template #waiting>
      <div class="enemy">
        <mat-spinner></mat-spinner>
        <p> Waiting for second player..</p>
      </div>
    </ng-template>

  </div>


  <ng-template #uneedtologin>
    <h1>You need first <a class='login' (click)=logIn()>Log in </a>to play..</h1>
  </ng-template>
</div>
