.box {
    width: 95%;
    margin-left: 5%;
}

h1 {
    font-family: 'Ubuntu', sans-serif;

    a {
        color: var(--second-color);
        cursor: pointer;
    }
}

.enemy {
    display: flex;

    p {
        height: 100%;
        margin: 30px 0 0 20px;
        font-family: 'Ubuntu', sans-serif;
        font-size: 25px;
    }
}