.playground {
    max-width: 100%;
    min-height: 2vh;
    background-color: var(--second-color);

    p {
        font-family: 'Ubuntu', sans-serif;
        font-size: 40px;
        text-align: justify;
        padding: 30px;
        color: black;

    }
}

@keyframes blink {
    from {
        background-color: transparent;
    }

    to {
        background-color: var(--fourth-color);
    }
}


.active {
    animation: blink .4s cubic-bezier(.8, -0.15, 0, .88) 0s infinite alternate;
}

.wrong {
    color: rgba(255, 255, 0, 0.597);
    // text-shadow: 2px 2px 3px rgba(0, 0, 0, 0.64);
}

.correct {
    color: rgba(0, 0, 0, 0.4) !important;
}

.space {
    color: rgba(0, 0, 0, 0.5);
}