.playground {
    max-width: 100%;
    min-height: 2vh;
    background-color: red;

    p {
        font-family: 'Ubuntu', sans-serif;
        font-size: 40px;
        letter-spacing: 3px;
        text-align: justify;
        padding: 30px;
    }
}